<p id="notice"><%= notice %></p>

<h1>Listings</h1>
  <div class="row">
    <div class="col-sm-6">
      <%= render "partials/cards" %>
    </div>
  </div>
<br>

<%= link_to 'New Listing', new_listing_path, class: "btn btn-primary btn-lg"  %>
