<p id="notice"><%= notice %></p>

<h1>My Listings</h1>
  <% if @listings.count > 0 %>
    <%= render "partials/cards" %>
  <% else %>
    <h3>You don't have any listings yet!</h3>
  <% end %>

<br>

<%= link_to 'New Listing', new_listing_path, class: "btn btn-primary btn-lg"  %>
